<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codetypo.healthoverwealth">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthOverWealth">
        <activity android:name=".activities.SettingsActivity"></activity>
        <activity android:name=".activities.CupActivity" />
        <activity
            android:name=".FragmentMainActivity"
            android:label="@string/title_activity_fragment_main"
            android:theme="@style/Theme.HealthOverWealth.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BmiActivity" />
        <activity android:name=".activities.WaterActivity" />
        <activity android:name=".activities.HeartActivity" />
        <activity android:name=".activities.StepsActivity" />
        <activity android:name=".activities.StatsActivity" />
    </application>

</manifest>